<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"    
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
        
        <!-- quartzFactoryBean check -->
    <bean id="quartzFactoryBeanPostProcessor" class="com.scf.core.context.spring.quartz.QuartzFactoryBeanPostProcessor"/>
     
    <!-- quartz 高可用配置，依赖memcached共享锁 -->
    <bean id="quartzJobAspect" class="com.scf.core.context.spring.quartz.QuartzJobAspect" />
    
	<aop:config>
		<aop:aspect ref="quartzJobAspect">
			<aop:pointcut id="quartzJobPointcut" expression="@annotation(com.scf.core.meta.TaskIdentity)" />
			<aop:around method="doAround" pointcut-ref="quartzJobPointcut" />
		</aop:aspect>
	</aop:config>
</beans>