<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">


	<!-- 短信发送器 -->
	<bean id="scf:sms:sender" class="com.scf.module.sms.support.SenderDelegate">
		<property name="sender" ref="scf:sms:senderCore"></property>
	</bean>

	<!-- 短信发送传播器 -->
	<bean id="scf:sms:senderCore" class="com.scf.module.sms.spring.SmsSenderFactoryBean"
		init-method="init" destroy-method="destory">
		<property name="senderClass" value="${sender.class}"></property>
	</bean>



</beans>