<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
         http://www.springframework.org/schema/task
          http://www.springframework.org/schema/task/spring-task.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<bean id="userDaoImpl" class="com.scf.core.context.dao.impl.UserDaoImpl"></bean>
	
	<bean id="uerServiceImpl" class="com.scf.core.context.service.impl.UserServiceImpl"></bean>
	
	
	<aop:config proxy-target-class="true">
        <aop:advisor pointcut="execution(* com.jlyc..*.*Service.*(..))" advice-ref="scf:txAdvice" />
    </aop:config>
	
</beans>